<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/popup.css">
    <script src="../src/popup.js"></script>
  </head>
  <body>
    <form id="visibility">
      <div>
        <label>
          <input type="checkbox" name="visibility" value="false">非表示
        </label>
      </div>
    </form>
    <hr>
    <form id="voice" class="voice-select">
      <div>
        <label>
          <input type="radio" name="voice" value="kiritan">東北きりたん
        </label>
      </div>
      <div>
        <label>
          <input type="radio" name="voice" value="yukari">結月ゆかり
        </label>
      </div>
      <div>
        <label>
          <input type="radio" name="voice" value="maki">弦巻マキ
        </label>
      </div>
    </form>
    <a href="#" class="btn" id="emergency-oracle">EMERGENCY ORACLE</a>
  </body>
</html>
