<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <script src="../src/popup.js"></script>
    <link rel="stylesheet" type="text/css" href="./styles/popup.css">
  </head>
  <body>
    <form id="voice">
      <div style="width:200px;">
        <input type="radio" name="voice" value="kiritan">東北きりたん
      </div>
      <div style="width:200px;">
        <input type="radio" name="voice" value="yukari">結月ゆかり
      </div>
      <div style="width:200px;">
        <input type="radio" name="voice" value="maki">弦巻マキ
      </div>
    </form>
    <a href="#" class="btn" id="emergency-oracle">EMERGENCY ORACLE</a>
  </body>
</html>
