<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <script src="../src/popup.js"></script>
  </head>
  <body>
    <form id="voice">
      <div style="width:200px;">
        <label>
          <input type="radio" name="voice" value="kiritan">東北きりたん
        </label>
      </div>
      <div style="width:200px;">
        <label>
          <input type="radio" name="voice" value="yukari">結月ゆかり
        </label>
      </div>
      <div style="width:200px;">
        <label>
          <input type="radio" name="voice" value="maki">弦巻マキ
        </label>
      </div>
    </form>
  </body>
</html>
